a:hover {
    background-color: red;
    text-decoration: none;
}

a:link {
    background-color: blue;
}

a:visited {
    background-color: green;
}

a:active {
    background-color: black;
}